.login-container{
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 0px;
}

.header-title{
    color: white;
    font-weight: bold;
    font-size: 150px;
    margin: 0px;
    letter-spacing: -3px;
}

.login-button{
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    letter-spacing: -1px;
}

.welcome-layout{
    background: rgba(0, 0, 0, 0.5);
}